*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: OpenSans;
    src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff");
    font-weight: 400;
    font-style: normal;
}

.header {
    font-family: OpenSans, sans-serif;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    padding: 30px 0 140px;
}

.header-wrapper {
    width: 1200px;
    padding: 0 15px;
    margin: auto;
    position: relative;
    z-index: 1;
}

.header::after {
    content:"";
    position: absolute;
    background-color: black;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.6;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 180px;
}

.menu-nav-list {
    display: inline;
    text-transform: uppercase;
    margin-right: 30px;
}

.menu-nav-list:last-child {
    margin-right: 0;
}

.menu-nav-category {
    text-decoration: none;
    color: white;
    font-size: 13px;
}

.title {
    margin-top: 74px;
    margin-left: auto;
    margin-right: auto;
    width: 680px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.66;
    font-size: 45px;
}

.trends {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    font-family: OpenSans;
    margin-top: 62px;
}

.trends-title::after {
    content:"";
    display: block;
    width: 66px;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 29px;
    background-color: #e5d8b5;
}

.trends-posts {
    display: flex;
    margin-top: 30px;
}

.trends-post-first {
    background-image: url("../images/trend1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 348px;
    width: 25%;
    display: flex;
    align-items: flex-end;
}

.trends-post-first-box {
    border: 2px #b59f5b solid;
    margin: 0 25px 18px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    height: 146px;
}

.trends-post-first-box-tags {
    margin-left: 36px;
    margin-bottom: 16px;
}

.trends-post-first-box-title {
    margin-left: 36px;
    margin-bottom: 40px;
}

.trends-post-first-box-tags-list {
    display: inline;
    text-transform: uppercase;
    margin-right: 14px;
}

.trends-post-first-box-tags-category {
    text-decoration: none;
    font-size: 14px;
    color: #b59f5b;
    font-weight: bold;
}

.trends-post-first-box-title {
    text-align: left;
}

.trends-post-first-box-title-link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.2;
}

.trends-post-second {
    background-image: url("../images/trend2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 348px;
    width: 25%;
    display: flex;
    align-items: flex-end;
}

.trends-post-second-box {
    border: 2px #b59f5b solid;
    margin: 0 25px 18px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    height: 166px;
}

.trends-post-second-box-tags {
    margin-left: 36px;
    margin-bottom: 16px;
}

.trends-post-second-box-title {
    margin-left: 36px;
    margin-bottom: 40px;
}

.trends-post-second-box-tags-list {
    display: inline;
    text-transform: uppercase;
    margin-right: 14px;
}

.trends-post-second-box-tags-category {
    text-decoration: none;
    font-size: 14px;
    color: #b59f5b;
    font-weight: bold;
}

.trends-post-second-box-title {
    text-align: left;
}

.trends-post-second-box-title-link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.2;
}

.trends-post-third {
    background-image: url("../images/trend3.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 348px;
    width: 25%;
    display: flex;
    align-items: flex-end;
}

.trends-post-third-box {
    border: 2px #b59f5b solid;
    margin: 0 25px 18px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    height: 146px;
}

.trends-post-third-box-tags {
    margin-left: 36px;
    margin-bottom: 16px;
}

.trends-post-third-box-title {
    margin-left: 36px;
    margin-bottom: 40px;
}

.trends-post-third-box-tags-list {
    display: inline;
    text-transform: uppercase;
    margin-right: 14px;
}

.trends-post-third-box-tags-category {
    text-decoration: none;
    font-size: 14px;
    color: #b59f5b;
    font-weight: bold;
}

.trends-post-third-box-title {
    text-align: left;
}

.trends-post-third-box-title-link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.2;
}

.trends-post-fourth {
    background-image: url("../images/trend4.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 348px;
    width: 25%;
    display: flex;
    align-items: flex-end;
}

.trends-post-fourth-box {
    border: 2px #b59f5b solid;
    margin: 0 25px 18px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    height: 146px;
}

.trends-post-fourth-box-tags {
    margin-left: 36px;
    margin-bottom: 16px;
}

.trends-post-fourth-box-title {
    margin-left: 36px;
    margin-bottom: 40px;
}

.trends-post-fourth-box-tags-list {
    display: inline;
    text-transform: uppercase;
    margin-right: 14px;
}

.trends-post-fourth-box-tags-category {
    text-decoration: none;
    font-size: 14px;
    color: #b59f5b;
    font-weight: bold;
}

.trends-post-fourth-box-title {
    text-align: left;
}

.trends-post-fourth-box-title-link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.2;
}

.body {
    font-family: OpenSans, sans-serif;
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
}

.main {
    width: 770px;
    display: flex;
    justify-content: space-between;
    margin-right: 130px;
    flex-wrap: wrap;
}

.post {
    display: flex;
    justify-content: space-between;
}

.post-pic {
    width: 381px;
    height: auto;
}

.post:nth-child(n+2) {
    margin-top: 54px;
}

.post-content {
    margin-left: 32px;}

.post-content-tags {
    margin-bottom: 6px;
}

.post-content-tags-list {
    display: inline;
    text-transform: uppercase;
    margin-right: 14px;
}

.post-content-tags-list:last-child {
    margin-right: 0;
}

.post-content-tags-category {
    text-decoration: none;
    font-size: 14px;
    color: #b59f5b;
    font-weight: bold;
}

.post-content-title {
    margin-bottom: 24px;
}

.post-content-title-link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.2;
}

.time-post {
    color: #989898;
    font-size: 12px;
    margin-right: 8px;
}

.author {
    font-weight: bold;
    font-size: 12px;
}

.post-content-text {
    margin-top: 38px;
    line-height: 1.46;
    font-size: 15px;
    color: black;
    font-weight: 400;
}

.post-content-paragraph {
    margin-bottom: 12px;
    margin-top: 12px;
}

.aside {
    width: 270px;
}

.new-posts-header {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
}

.new-posts-header::after {
    content:"";
    display: block;
    width: 66px;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 25px;
    background-color: #e5d8b5;
}

.new-posts-aside {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.new-posts-aside:last-child {
    margin-bottom: 0;
}

.new-posts-aside-pic {
    width: 70px;
    height: auto;
}

.time-post-aside {
    color: #989898;
    font-size: 12px;
    display: block;
}

.new-posts-aside-content {
    height: auto;
    margin-left: 22px;
}

.new-posts-aside-header {
    margin-top: 3px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.27;
}

.new-posts-aside-header-link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.2;
}

.search {
    display: flex;
    margin-top: 60px;
}

.text-search-input {
    background-color: #f3f7f6;
    height: 48px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
    width: 222px;
}

.button-search {
    height: 48px;
    width: 48px;
    background-color: #b69f5b;
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
}

.visually-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.mailing-header {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 59px;
}

.mailing-header::after {
    content:"";
    display: block;
    width: 66px;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 23px;
    background-color: #e5d8b5;
}

.mailing-input {
    background-color: #f3f7f6;
    height: 48px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
}

.button-sign {
    width: 270px;
    height: 48px;
    background-color: #b69f5b;
    border: 0;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    margin-top: 18px;
}

.tags-header {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 56px;
}

.tags-header::after {
    content:"";
    display: block;
    width: 66px;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 29px;
    background-color: #e5d8b5;
}

.tags-list {
    display: flex;
    flex-wrap: wrap;
}

.tags-list-item {
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-right: 4px;
    list-style: none;
}

.tags-list-link {
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: bold;
    border: 3px solid #e5e5e5;
    padding: 2px 14px;
}

.themes-header {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 42px;
}

.themes-header::after {
    content:"";
    display: block;
    width: 66px;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 23px;
    background-color: #e5d8b5;
}

.number-of-articles {
    vertical-align: super;
}

.themes-categories {
    list-style: none;
    border-bottom: 1px solid #efefef;
    padding-bottom: 11px;
    padding-top: 11px;
}

.themes-categories:first-child {
    padding-top: 0;
}

.theme-link {
    text-decoration: none;
    color: black;
    list-style: none;
    font-weight: bold;
    font-size: 14px;
}

.number-of-articles {
    font-size: 11px;
    color: #af9a63;
}

.products {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    font-family: OpenSans;
    margin-top: 62px;
}

.products-header::after {
    content:"";
    display: block;
    width: 66px;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 29px;
    background-color: #e5d8b5;
}

.products-posts {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.product-post-first {
    background-image: url("../images/shop-item-desk1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 204px;
    width: 300px;
    margin-right: 113px;
}

.product-post-second {
    background-image: url("../images/shop-item-desk2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 204px;
    width: 300px;
    margin-right: 113px;
}

.product-post-third {
    background-image: url("../images/shop-item-desk3.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    height: 204px;
    width: 300px;
}

.products-posts-board {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 32px;
}

.products-posts-board-first {
    border: 2px #b59f5b solid;
    height: 267px;
    width: 347px;
    margin-right: 66px;
    /*display: flex;*/
    flex-wrap: wrap;
    align-content: flex-start;
}

.products-posts-board-first-title {
    margin-top: 56px;
    margin-left: 20px;
    text-align: left;
}

.products-posts-board-first-link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.2;
}

.products-posts-board-first-text {
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
    line-height: 1.46;
    color: black;
    text-transform: none;
}

.pillow-creation-video {
    color: #af9a63;
    text-decoration: none;
}

.product-first-purchase {
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
    align-items: center;
}

.product-first-total-price {
    text-align: left;
    margin-left: 20px;
    font-size: 14px;
    text-decoration: line-through;
}

.product-first-discount-price {
    text-align: left;
    margin-left: 20px;
}

.button-to-shop {
    width: 140px;
    height: 48px;
    background-color: #b69f5b;
    border: 0;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    margin-right: 30px;
}

.products-posts-board-second {
    border: 2px #b59f5b solid;
    height: 267px;
    width: 347px;
    margin-right: 66px;
}

.products-posts-board-second-title {
    margin-top: 56px;
    margin-left: 20px;
    text-align: left;
}

.products-posts-board-second-link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.2;
}

.products-posts-board-second-text {
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 24px;
    line-height: 1.46;
    color: black;
    text-transform: none;
}

.spring-posts {
    color: #af9a63;
    text-decoration: none;
}

.product-second-purchase {
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
    align-items: center;
}

.product-second-total-price {
    text-align: left;
    margin-left: 20px;
    font-size: 14px;
}

.products-posts-board-third {
    border: 2px #b59f5b solid;
    height: 267px;
    width: 347px;
}

.products-posts-board-third-title {
    margin-top: 56px;
    margin-left: 20px;
    text-align: left;
}

.products-posts-board-third-link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.2;
}

.products-posts-board-third-text {
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 24px;
    line-height: 1.46;
    color: black;
    text-transform: none;
}

.board-handmade {
    color: #af9a63;
    text-decoration: none;
}

.product-third-purchase {
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
    align-items: center;
}

.product-third-total-price {
    text-align: left;
    margin-left: 20px;
    font-size: 14px;
    text-decoration: line-through;
}

.product-third-discount-price {
    text-align: left;
    margin-left: 20px;
}

.footer {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 68px;
    padding-bottom: 43px;
    font-family: OpenSans, sans-serif;
}

.socials {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #f4f7f6;
    padding-top: 30px;
    padding-bottom: 30px;
}

.socials-link {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    display: block;
    width: 20px;
    height: 20px;
}

.socials-link-twitter {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg);
}

.socials-link-pinterest {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg);
}

.socials-link-facebook {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg);
}

.socials-link-instagram {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg);
}

.socials-link-tumblr {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
}

.copyright {
    margin-top: 74px;
    text-align: center;
}

.copyright-link {
    text-decoration: none;
    color: #999999;
    font-size: 12px;
    font-weight: bold;
}