*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media (min-width: 1200px) {
    .menu__button {
        display: none;
    }

    .title {
        font-size: 45px;
    }

    .trends-post-common-style {
        width: calc(25% - 3px);
    }

    .body {
        margin: 65px auto 0;
        display: flex;
    }

    .products-post {
        width: 30%;
    }

    .post-pic {
        width: 380px;
    }

    .post-content {
        margin-left: 32px;
    }

    .aside {
        width: 270px;
    }

    .button-sign {
        width: 270px;
    }

    .footer {
        margin: 68px auto 0;
    }
}

@media (min-width: 641px) and (max-width: 1199px) {
    .trends-post-common-style {
        width: calc(50% - 3px);
    }

    .title {
        font-size: 40px;
    }

    .body {
        margin: 65px 4% 0;
        display: flex;
    }

    .post {
        flex-wrap: wrap;
    }

    .post-pic {
        width: 100%;
    }

    .products-post {
        width: 48.5%;
    }

    .product-post {
        width: 96%;
    }

    .post-content {
        width: 100%;
    }

    .post-content-title {
        width: 100%;
    }

    .menu-nav {
        display: none;
    }

    .aside {
        width: 270px;
    }

    .button-sign {
        width: 270px;
    }

    .footer {
        margin: 68px 4% 0;
    }
}

@media (max-width: 640px) {
    .menu-nav {
        display: none;
    }

    .post {
        flex-wrap: wrap;
        width: 90%;
        margin: 0 5%;
    }

    .title {
        font-size: 26px;
    }

    .body {

    }

    .main {
        width: 100%;
    }

    .post-pic {
        width: 100%;
    }

    .aside {
        width: 90%;
        margin: 0 5%
    }

    .button-sign {
        width: 100%;
    }
}

@media (max-width: 640px) and (orientation: landscape) {
    .trends-post-common-style {
        width: 49%;
    }
}

@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Bold.woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Regular.woff");
    font-weight: 400;
    font-style: normal;
}

.header {
    font-family: OpenSans, sans-serif;
    background-image: url("../images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    padding: 30px 0 140px;
}

.header-wrapper {
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
    position: relative;
    z-index: 1;
}

.header::after {
    content:"";
    position: absolute;
    background-color: black;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.6;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 180px;
}

.menu-nav-list {
    display: inline;
    text-transform: uppercase;
    margin-right: 30px;
}

.menu-nav-list:last-child {
    margin-right: 0;
}

.menu-nav-category {
    text-decoration: none;
    color: white;
    font-size: 13px;
}

.menu-nav-category:hover {
    text-decoration: underline;
}

.title {
    margin: 74px auto 0;
    max-width: 680px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.66;
}

.trends {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    font-family: OpenSans;
    margin-top: 62px;
}

.trends-title::after {
    content:"";
    display: block;
    width: 66px;
    height: 3px;
    margin: 10px auto 29px;
    background-color: #e5d8b5;
}

.trends-posts {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-between;
}

.trends-post-common-style {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    min-height: 348px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 6px;
}

.trends-post-first {
    background-image: url("../images/trend1.jpg");
}

.trends-post-common-style::after {
    content:"";
    position: absolute;
    background-color: black;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.6;
}

.trends-post-box {
    border: 2px #b59f5b solid;
    margin: 0 25px 18px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    position: relative;
    z-index: 1;
    padding: 40px;
}

.trends-post-box-tags {
    margin-bottom: 16px;
}

.trends-post-title {
    text-align: left;
}

.trends-post-box-tags-list {
    display: inline;
    text-transform: uppercase;
    margin-right: 14px;
}

.trends-post-box-tags-list:last-child {
    margin-right: 0;
}

.trends-post-box-tags-category {
    text-decoration: none;
    font-size: 14px;
    color: #b59f5b;
    font-weight: bold;
}

.trends-post-box-tags-category:hover {
    text-decoration: underline;
}

.trends-post-title-link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.2;
}

.trends-post-title-link:hover {
    color: #b59f5b;
}

.trends-post-second {
    background-image: url("../images/trend2.jpg");
}

.trends-post-third {
    background-image: url("../images/trend3.jpg");
}

.trends-post-fourth {
    background-image: url("../images/trend4.jpg");
}

.body {
    font-family: OpenSans, sans-serif;
    max-width: 1200px;
}

.main {
    max-width: 770px;
    margin-right: 4.6%;
    flex-grow: 1;
}

.post {
    display: flex;
    justify-content: space-between;
}

.post-pic {
    height: auto;
}

.post:nth-child(n+2) {
    margin-top: 54px;
}

.post-content-tags {
    margin-bottom: 6px;
}

.post-content-tags-list {
    display: inline;
    text-transform: uppercase;
    margin-right: 14px;
}

.post-content-tags-list:last-child {
    margin-right: 0;
}

.post-content-tags-category {
    text-decoration: none;
    font-size: 14px;
    color: #b59f5b;
    font-weight: bold;
}

.post-content-tags-category:hover {
    text-decoration: underline;
}

.post-content-title {
    margin-bottom: 24px;
}

.post-content-title-link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.2;
}

.post-content-title-link:hover {
    color: #b59f5b;
}

.time-post {
    color: #989898;
    font-size: 12px;
    margin-right: 8px;
}

.author {
    font-weight: bold;
    font-size: 12px;
}

.post-content-text {
    margin-top: 38px;
    line-height: 1.46;
    font-size: 15px;
    color: black;
    font-weight: 400;
}

.post-content-paragraph {
    margin: 12px 0;
}

.new-posts-header {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
}

.new-posts-header::after {
    content:"";
    display: block;
    width: 66px;
    height: 3px;
    margin: 10px auto 25px;
    background-color: #e5d8b5;
}

.new-posts-aside {
    display: flex;
    margin: 0 auto 15px;
}

.new-posts-aside:last-child {
    margin-bottom: 0;
}

.new-posts-aside-pic {
    width: 70px;
    height: auto;
}

.time-post-aside {
    color: #989898;
    font-size: 12px;
    display: block;
}

.new-posts-aside-content {
    height: auto;
    margin-left: 22px;
}

.new-posts-aside-header {
    margin-top: 3px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.27;
}

.new-posts-aside-header-link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.2;
}

.search {
    display: flex;
    margin-top: 60px;
}

.text-search-input {
    background-color: #f3f7f6;
    height: 48px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
    width: 222px;
}

.button-search {
    height: 48px;
    width: 48px;
    background-color: #b69f5b;
    background-image: url(../svg/search.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
}

.button-search:hover {
    background-color:#323232
}

.visually-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.mailing-header {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 59px;
}

.mailing-header::after {
    content:"";
    display: block;
    width: 66px;
    height: 3px;
    margin: 10px auto 23px;
    background-color: #e5d8b5;
}

.mailing-input {
    background-color: #f3f7f6;
    height: 48px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
}

.button-sign {
    height: 48px;
    background-color: #b69f5b;
    border: 0;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    margin-top: 18px;
}

.button-sign:hover {
    background-color:#323232;
}

.tags {
    margin-top: 56px;
}

.tags-header {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
}

.tags-header::after {
    content:"";
    display: block;
    width: 66px;
    height: 3px;
    margin: 10px auto 29px;
    background-color: #e5d8b5;
}

.tags-list {
    display: flex;
    flex-wrap: wrap;
}

.tags-list-item {
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-right: 5px;
    list-style: none;
}

.tags-list-link {
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: bold;
    border: 3px solid #e5e5e5;
    padding: 3px 14px;
    display: block;
}

.tags-list-link:hover {
    border: 3px solid #b69f5b;
}

.themes-header {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 42px;
}

.themes-header::after {
    content:"";
    display: block;
    width: 66px;
    height: 3px;
    margin: 10px auto 23px;
    background-color: #e5d8b5;
}

.number-of-articles {
    vertical-align: super;
}

.themes-categories {
    list-style: none;
    border-bottom: 1px solid #efefef;
    padding-bottom: 11px;
    padding-top: 11px;
}

.themes-categories:first-child {
    padding-top: 0;
}

.theme-link {
    text-decoration: none;
    color: black;
    list-style: none;
    font-weight: bold;
    font-size: 14px;
}

.theme-link:hover {
    color: #b69f5b;
}

.number-of-articles {
    font-size: 11px;
    color: #af9a63;
}

.products {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    margin-top: 62px;
}

.products-wrapper {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    font-family: OpenSans;
}

.products-header::after {
    content:"";
    display: block;
    width: 66px;
    height: 3px;
    margin: 10px auto 29px;
    background-color: #e5d8b5;
}

.products-posts {
    display: flex;
    flex-wrap: wrap;
    margin-top: 45px;
    max-width: 1200px;
    justify-content: space-between;
}

.menu__button {
    width: 1.4em;
    height: 1em;
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 25px;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
}

.menu__button:before {
    top: 0;
    content: "";
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
}

.menu__button-label {
    width: 100%;
    height: 20%;
    margin-top: -0.1em;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 50%;
}

.menu__button:after {
    bottom: 0;
    content: "";
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
}

.product-post-board {
    border: 2px #b59f5b solid;
    position: relative;
    padding: 56px 22px 26px;
    bottom: 30px;
}

.product-post-title {
    text-align: left;
}

.product-post-title-link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.2;
}

.product-post-text {
    font-size: 15px;
    font-weight: normal;
    text-align: left;
    margin-top: 10px;
    line-height: 1.46;
    color: black;
    text-transform: none;
}

.product-post-text:hover {
    font-weight: bold;
}

.link-to-post-details {
    color: #af9a63;
    text-decoration: none;
}

.link-to-post-details:hover {
    text-decoration: underline;
}

.product-purchase {
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
    align-items: center;
}

.product-total-price {
    text-align: left;
    font-size: 14px;
    text-decoration: line-through;
}

.product-discount-price {
    text-align: left;
}

.button-to-shop {
    width: 140px;
    height: 48px;
    background-color: #b69f5b;
    border: 0;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.button-to-shop:hover {
    background-color: #323232;
}

.footer {
    max-width: 1200px;
    padding-bottom: 43px;
    font-family: OpenSans, sans-serif;
}

.socials {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #f4f7f6;
    padding-top: 30px;
    padding-bottom: 30px;
}

.socials-item {
    margin-right: 30px;
}

.socials-item:last-child {
    margin-right: 0;
}

.socials-link {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    display: block;
}

.socials-link-twitter {
    background-image: url(../svg/004-twitter.svg);
}

.socials-link-pinterest {
    background-image: url(../svg/001-pinterest.svg);
}

.socials-link-facebook {
    background-image: url(../svg/002-facebook-logo.svg);
}

.socials-link-instagram {
    background-image: url(../svg/005-instagram.svg);
}

.socials-link-tumblr {
    background-image: url(../svg/003-tumblr.svg);
}

.copyright {
    margin-top: 74px;
    text-align: center;
}

.copyright-link {
    text-decoration: none;
    color: #999999;
    font-size: 12px;
    font-weight: bold;
}

.popup {
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.7);
}

.popup-wrapper {
    width: 390px;
    margin: auto;
    padding: 53px 30px;
    font-family: OpenSans, sans-serif;
    position: fixed;
    top: 0;
    background-color: white;
}

.popup-title {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
}

.popup-title::after {
    content:"";
    display: block;
    width: 66px;
    height: 3px;
    margin: 10px auto 29px;
    background-color: #e5d8b5;
}

.feedback-site-attendance-question {
    margin-bottom: 10px;
}

.feedback-attendance-frequency {
    background-color: #f3f7f6;
    height: 48px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
    margin-bottom: 35px;
    background-image: url("../svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-size: 10px;
}

.feedback-mailing-question {
    margin-bottom: 12px;
}

.feedback-mailing-radio {
    margin-right: 15px;
}

.feedback-mailing-radio-choice::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url("../svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 15px;
    vertical-align: middle;
    margin-right: 8px;
}

.feedback-mailing-radio-input:checked ~ .feedback-mailing-radio-choice::before {
    background-image: url("../svg/form-circle.svg");
}

.feedback-mailing-radio-input {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: 1px;
}

.feedback-mailing-form {
    margin-bottom: 35px;
}

.feedback-textbox-question {
    margin-bottom: 12px;
}

.feedback-textbox-input {
    background-color: #f3f7f6;
    height: 130px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
    margin-bottom: 35px;
    text-align: start;
}

.submit-button {
    width: 100%;
    height: 48px;
    background-color: #b69f5b;
    border: 0;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

._hidden {
    display: none;
}

.popup__close {
    background-image: url("../svg/form-x.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 40px;
}
